.filter-form {
    .form-item-inline {
        width: 250px;
        margin-bottom: 20px;
    }
    .form-item-block {
        width: 100%;
        margin-bottom: 20px;
    }
    .filter-btn-group {
        margin-bottom: 20px;
        .filter-primary-btn {
            margin-right: 20px;
        }
    }
}
